h3 {
  font-weight: 400 !important;
}

/* sign-in page */

.doordash-signin-logo {
  display: block;
  width: 500px;
  height: auto;
  margin: auto;
}

.username-form {
  margin: auto;
  width: 40%;
}

.username-input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #D1D3D9;
  width: 100%;
  margin-bottom: 20px;
}

.username-button {
  display: block;
  width: 100%;
  background: #FF0000;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: 300;
}

/* chat rooms list */

.doordash-chat-logo{
  width: 175px;
  height: auto;
  margin: -50px 0 -35px -14px;
}

.rooms-list {
  position: fixed;
  width: 235px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  overflow-y: auto;
  background: #FF0000;
  color: #586676;
  padding: 20px;
  z-index: 3;
}

.username {
  color: white;
  font-size: 20px;
}

.online {
  color: white;
  font-weight: 300;
  margin-bottom: 40px;
}

.room-names {
  padding: 10px 0;
  font-size: 17px;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.room-names:hover, .room-selected {
  background-color: #691E24;
  margin: 0 -20px;
  padding-left: 20px;
}

/* room details section */

.chat-room-section {
  padding-left: 235px;
}

.room-info {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 7px 6px -6px #808080;
  -moz-box-shadow: 0 7px 6px -6px #808080;
  box-shadow: 0 7px 6px -6px #808080;
  z-index: 2;
  position: relative;
}

.room-users {
  display: inline;
  font-size: 15px;
}

.current-user {
  color: #FF0000;
}

/* chat room content */

.chat-room {
  background: #EDEFF0;
  padding: 0 15px;
  overflow: hidden;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  bottom: 85px;
  width: -webkit-calc(100% - 235px);
  width: -moz-calc(100% - 235px);
  width: calc(100% - 235px);
  top: 97px;
}

.message-content {
  max-width: 350px;
  padding: 15px;
  border-radius: 15px;
  overflow-wrap: break-word;
  display: inline-block;
}

.other-user-content {
  background: white;
}

.current-user-content {
  background: #FF0000;
  float: right;
  color: white;
  clear: both;
}

.other-user-username {
  color: #5E5E5E;
  margin: 5px 0 20px 0;
}

.current-user-username {
  color: #5E5E5E;
  margin: 5px 0 20px 0;
  float: right;
  clear: both;
}

/* submit message section  */

.submit-message-section {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 -7px 6px -6px #808080;
  -moz-box-shadow: 0 -7px 6px -6px #808080;
  box-shadow: 0 -7px 6px -6px #808080;
}

.message-input {
  width: calc(100% - 235px);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #D1D3D9;
}
