<section class="rooms-list">
  <p class="username">
    {{chatRooms.username}}
  </p>
  <p class="online">
    Online for {{ chatRooms.online }} minutes
  </p>
  <div ng-repeat="room in chatRooms.RoomsFactory.rooms">
    <div class="room-names" ng-click="chatRooms.roomSelected(room)">
      {{ room.name }}
    </div>
  </div>
</section>

<section class="chat-room">
  <div>
    {{ chatRooms.RoomsFactory.roomInfo.name }}
  </div>
  <div ng-repeat="users in chatRooms.RoomsFactory.roomInfo.users">
    {{ users }}
  </div>

  <div ng-repeat="messages in chatRooms.MessagesFactory.messages track by $index">
    {{ messages.name }} <br /> {{ messages.message }}
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Type a message..." ng-model="chatRooms.newMessage">
    <button class="btn btn-default" ng-click="chatRooms.createMessage()">Submit</button>
  </div>
</section>
