<!-- chat rooms list -->
<div class="rooms-list">
  <a href="https://www.doordash.com/">
    <img class="doordash-chat-logo" src="https://cdn.doordash.com/static/img/doordash-square-red.jpg?dd-nonce=1">
  </a>
  <p class="username">
    {{chatRooms.username}}
  </p>
  <p class="online">
    Online for {{ chatRooms.online }}
    <span ng-show="chatRooms.online > 1 || chatRooms.online == 0">minutes</span>
    <span ng-show="chatRooms.online == 1">minute</span>
  </p>
  <div ng-repeat="room in chatRooms.RoomsFactory.rooms">
    <div class="room-names" ng-class="room.id == chatRooms.roomId ? 'room-selected' : ''" ng-click="chatRooms.roomSelected(room)">
      {{ room.name }}
    </div>
  </div>
</div>

<div class="chat-room-section" ng-show="chatRooms.roomOpened">
  <!-- room details section -->
  <div class="room-info">
    <h3>
    {{ chatRooms.RoomsFactory.roomInfo.name }}
  </h3>
    <div class="room-users" ng-repeat="user in chatRooms.RoomsFactory.roomInfo.users | orderBy">
      <span ng-class="user == chatRooms.username ? 'current-user' : ''">{{ user }}{{ $last ? '' : ','}}</span>
    </div>
  </div>

  <!-- chat room content -->
  <div id="chat-room-content" class="chat-room">
    <div ng-repeat="messages in chatRooms.MessagesFactory.messages track by $index">
      <div class="message-content" ng-class="messages.name == chatRooms.username ? 'current-user-content' : 'other-user-content'">
        {{ messages.message }}
      </div>
      <div ng-class="messages.name == chatRooms.username ? 'current-user-username' : 'other-user-username'">
        {{ messages.name }}
      </div>
    </div>
  </div>

  <!-- submit message section  -->
  <form ng-submit="chatRooms.createMessage()" class="submit-message-section">
    <input type="text" class="message-input" placeholder="Type a message..." ng-model="chatRooms.newMessage">
  </form>
</div>
